// scss/variables.scss
:root {
  --font-family: "Muli", sans-serif;
  --light: #e9967a;
  --primary: #126aee;
  --dark: #2980b9;
  --text: #333;
  --background: #fafafa;
  --hint: #999;
  --border: #ddd;
}
